Package: libgpm2
Source: gpm
Version: 1.20.7-6
Architecture: amd64
Maintainer: Axel Beckert <abe@debian.org>
Installed-Size: 135
Depends: libc6 (>= 2.15)
Suggests: gpm
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://nico.schottelius.org/software/gpm/
Description: General Purpose Mouse - shared library
 This package provides a library that handles mouse requests
 and delivers them to applications. See the description for the 'gpm'
 package for more information.
