Package: libgpm-dev
Source: gpm
Version: 1.20.7-6
Architecture: amd64
Maintainer: Axel Beckert <abe@debian.org>
Installed-Size: 818
Depends: libc6-dev | libc-dev, libgpm2 (= 1.20.7-6)
Conflicts: libgpmg1-dev
Provides: libgpmg1-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://nico.schottelius.org/software/gpm/
Description: General Purpose Mouse - development files
 This package provides a library that handles mouse requests
 and delivers them to applications. See the description for the 'gpm'
 package for more information.
 .
 This package contains the development files.
