Package: gpm
Version: 1.20.7-6
Architecture: amd64
Maintainer: Axel Beckert <abe@debian.org>
Installed-Size: 619
Depends: lsb-base (>= 3.2-13), ucf, debconf (>= 0.5) | debconf-2.0, libc6 (>= 2.15), libgpm2 (>= 1.20.7-6)
Section: misc
Priority: optional
Multi-Arch: foreign
Homepage: https://nico.schottelius.org/software/gpm/
Description: General Purpose Mouse interface
 This package provides a daemon that captures mouse events when the system
 console is active, and delivers events to applications through a library.
 .
 By default, the daemon provides a 'selection' mode, so that
 cut-and-paste with the mouse works on the console just as it does
 under X.
